*.nds
*.sav
*.mch
*.ml*
*.xdelta
rom/*
original/*
src/arm9.bin
src/newcode.bin
src/newcode.elf
src/newcode.sym
src/build
src/build/*
build/*
src/overlays/build/*
src/overlays/*/newcode.bin
src/overlays/*/newcode.elf
src/overlays/*/newcode.sym
src/overlays/*/arm9_newcode.x
src/overlays/*/newcode.x
src/overlays/*/repl_*.bin
src/overlays/*/repl_*.elf
src/overlays/*/repl_*.sym
.vs
.vs/*